{
    "parser": "@babel/eslint-parser",
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended", "prettier"],
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2020,
        "ecmaFeatures": {
            "jsx": true
        },
        "requireConfigFile": false,
        "babelOptions": {
            "presets": ["@babel/preset-env", "@babel/preset-react"],
            "plugins": [
                [
                    "@babel/plugin-proposal-class-properties",
                    {
                        "loose": true
                    }
                ]
            ]
        }
    },
    "rules": {
        "prettier/prettier": 1
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    }
}
